<div class="sidebar" [ngClass]="{'open':side}">
    <div class="logo-details">
      <i class='bx bxl-unity' [ngStyle]="{'display':side ? 'flex' : 'none' }"></i>
        <div class="logo_name" >HideOut</div>
        <button (click)="Open()"><i class='bx bx-menu' id="btn"></i></button>
    </div>
    <ul class="nav-list">
      <li>
          <i (click)="Open()" class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a routerLink="home">
          <i class='bx bx-home'></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
      <li>
       <a href="#">
         <i class='bx bx-music' ></i>
         <span class="links_name">Play Music</span>
       </a>
       <span class="tooltip">Play Music</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-chat' ></i>
         <span class="links_name">Chat</span>
       </a>
       <span class="tooltip">Chat</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-news' ></i>
         <span class="links_name">News</span>
       </a>
       <span class="tooltip">News</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-folder' ></i>
         <span class="links_name">File Manager</span>
       </a>
       <span class="tooltip">Files</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-notepad' ></i>
         <span class="links_name">Notes</span>
       </a>
       <span class="tooltip">Notes</span>
     </li>
     <li>
       <a routerLink="login">
         <i class='bx bx-user' ></i>
         <span class="links_name">Login</span>
       </a>
       <span class="tooltip">Login</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <div class="name_job">
             <div class="name">Nikhil Kumar Das</div>
             <div class="job">Web Developer</div>
           </div>
         </div>
         <button (click)="Close()"><i class='bx bx-log-out' id="log_out" ></i></button>
     </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
